/* 
*此样式表用作导航栏布局
*请勿写入其他内容
*创建时间2022年4月19日
*版本:1.0
*创建人：简同学
*/


/* 
*整个导航栏属性
*时间2022年4月19日
*版本1.0
*创建人：简同学
*/
#head-head{  /* 导航栏背景 */
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 3px solid black;
    z-index: 3;
}

/* 
*导航栏左侧图标样式
*时间2022年4月19日
*版本1.0
*创建人：简同学
*/
#head-head-icon-left{ /* 导航栏左侧图标 */
    float: left;
    height: 80px;
    width: 400px;
}
#musticon{
    height: 80px;
    width: 80px;
    float: left;
}

#nomusticon{
    width: 320px;
    float: left;
}

#nomusticon2{
    width: 0px;
    float: left;
}

/* 
*导航栏中间导航样式
*时间2022年4月19日
*版本1.0
*创建人：简同学
*/
#head-head-div-mid{
    width: 370px;
    height: 80px;
    float: left;
}

#head-head-div-mid ul li{
    list-style: none;
    float: left;
    margin: 0px 5px;
}

#head-head-div-mid ul li a{
    display: block;
    width: 80px;
    height: 68px;
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 4ex;
}

#head-head-div-mid ul li a:link{
    text-decoration: none;
}
#head-head-div-mid ul li a:hover{
    text-decoration: none;
    background-color: beige;
}
#head-head-div-mid ul li a:visited{
    text-decoration: none;
}
#head-head-div-mid ul li a:active{
    text-decoration: none;
}


/* 
*导航按钮被选中样式
*时间2022年4月19日
*版本1.0
*创建人：简同学
*/
.Check{
    border-bottom: 12px solid red;
}




/* 
*导航栏右侧按钮样式
*时间2022年4月19日
*版本1.0
*创建人：简同学
*/
#head-head-a-right{ /* 导航栏右侧按钮 */
    float: right;
    display: block;
    height: 80px;
    width: 150px;
    background-image: url(../images/ppp.png);
}


/* 
*导航栏右侧按钮鼠标悬浮样式
*时间2022年4月19日
*版本1.0
*创建人：简同学
*/
#head-head-a-right:hover{
    background-color: beige;
}


/* 
*导航栏右侧按钮下拉栏
*时间2022年4月20日
*版本1.0
*创建人：简同学
*/
#head-head-right-a-used{
    background-color: white;
    width: 150px;
    height: 128px;
    border: 3px solid black;
    position: absolute;
    left: 200px;
    top: 200px;
    border-radius: 15px;
}
#head-head-right-a-used ul li{
    list-style: none;
}
#head-head-right-a-used ul li a{
    display: block;
    text-align: center;
    padding: 10px 0px;
    color: black;
    font-size: 2ex;
}
#head-head-right-a-used ul li a:link{
    text-decoration: none;
}
#head-head-right-a-used ul li a:visited{
    text-decoration: none;
}
#head-head-right-a-used ul li a:hover{
    text-decoration: none;
    background-color: beige;;
    border-radius: 15px;
}
#head-head-right-a-used ul li a::shadow{
    text-decoration: none;
}